/* 
.skill_box{
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 120px;
    border: none;
    background-color: #1a2348;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    cursor: grab;
    transition: 0.3s;
} */

.horizon{
    width: 18%;
    height: 1px;
    background-color: #3c4981;
    position: absolute;
    top: 12%;
    left: 41%;
 

}
.skills_Section{
    margin-top: 60px;
    margin-bottom: 60px;


}
img{
    width: 50px;
    height: 50px;
}
.skills_columns{
    display: flex;
    justify-content: space-between;
}
.html,.css,.js,.node,.react,.git,.figma{
    border: 1px solid #3c4981 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
    transition: 0.3s;
}
.html:hover,.css:hover,.js:hover,.figma:hover,.git:hover,.node:hover,.react:hover{
    box-shadow:0px 1px 7px 1px #3c4981;
    transition:  0.4s ease-in;
    transform: scale(1.1);
    cursor: grab;
}
.skill_box:hover{
    box-shadow:0px 1px 7px 1px var(--purple);
}
h2{
    font-weight: normal;
}
